absl-py
addict
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
black
bleach
blinker
braceexpand
certifi
cffi
charset-normalizer
chump
click
cloudpickle
colorlog
comm
configargparse
contourpy
cycler
cython
dash
debugpy
defusedxml
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@a1ce2f956a1d2212ad672e3c47d53405c2fe4312
dill
einops
executing
fastjsonschema
ffmpeg
filelock
flask
fonttools
fqdn
freetype-py
frozenlist
fsspec
ftfy
fvcore
glcontext
grpcio
h11
hf-xet
httpcore
httpx
huggingface-hub
hydra-colorlog
hydra-core
hydra-submitit-launcher
idna
imageio
importlib-metadata
iniconfig
iopath
ipykernel
ipython
ipython-pygments-lexers
ipywidgets
isoduration
itsdangerous
janus
jedi
jinja2
joblib
json5
jsonlines
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-builder
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
lark
lazy-loader
lightning-utilities
loguru
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mistune
moderngl
moge @ git+https://github.com/microsoft/MoGe.git@74fbce054ebed49800de42d0ad0e83495065719a
mpmath
multidict
mypy-extensions
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
nest-asyncio2
networkx
ninja
notebook
notebook-shim
numpy
nvidia-ml-py
omegaconf
open3d
opencv-python
opentelemetry-api
optree
overrides
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pillow
platformdirs
plotly
pluggy
polars
polars-runtime-32
portalocker
prometheus-client
prompt-toolkit
propcache
protobuf
psutil
ptyprocess
pure-eval
pycocotools
pycparser
pydantic
pydantic-core
pyglet
pygments
pyopengl
pyparsing
pyquaternion
pyrender
pyrootutils
pytest
python-dateutil
python-dotenv
python-json-logger
pytokens
pytorch-lightning
pyyaml
pyzmq
referencing
regex
requests
retrying
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
roma
rpds-py
safetensors
-e file:///Users/spicyb/Desktop/body-scanning/sam3
scikit-image
scikit-learn
scipy
seaborn
send2trash
sentry-sdk
setuptools
six
soupsieve
stack-data
submitit
sympy
tabulate
tensorboard
tensorboard-data-server
termcolor
terminado
threadpoolctl
tifffile
timm
tinycss2
torch
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
trimesh
typing-extensions
typing-inspection
tzdata
ultralytics
ultralytics-platform
ultralytics-thop
uri-template
urllib3
utils3d
utils3d-moge @ git+https://github.com/EasternJournalist/utils3d-moge.git@62f09d58509485564e24d5d9f6aac9ee9ebc0c37
wandb
wcwidth
webcolors
webdataset
webencodings
websocket-client
werkzeug
wheel
widgetsnbextension
xtcocotools
xxhash
yacs
yarl
zipp
